* {
  box-sizing: border-box;
}

/**
 * Partial imports
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Global settings
 */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.main-container {
  height: 100%;
  width: 100%;
}

.nested-container {
  padding: 30px;
}

/**
 * Input buttons
 */
.input-text {
  height: 2.375em;
  padding: 0;
  float: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background: 0 0;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
  font-size: 1.25em;
  font-weight: normal;
}

.input-group {
  margin-bottom: 10px;
}

label {
  height: 3.125em;
  line-height: 3.125em;
}

.button {
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  outline: 0 !important;
  box-shadow: 0;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

/**
 * Centering
 */
.center-parent {
  display: table;
}

.center-child {
  display: table-cell;
  vertical-align: middle;
}

/**
 * Warning/Info
 */
.toast {
  position: fixed;
  bottom: 30px;
  height: 45px;
  width: 100%;
  color: white;
  text-align: center;
}
.toast .error-msg {
  background-color: #dd0039;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px 25px 15px 25px;
}
.toast .error-msg span {
  font-weight: bold;
}

/**
 * Section boxes
 */
.section-box {
  background-color: white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;
}
.section-box .section-box-head {
  height: 2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #e6e6e6;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.ags-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ags-loader i {
  color: #5aca00;
}

/**
 * View imports
 */
#login {
  background-color: #434343;
  height: 100%;
  width: 100%;
}
#login .login-form {
  background-color: #5aca00;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 40%;
  width: 30%;
  min-height: 274px;
  position: relative;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#login .login-form .login-form-header {
  background-color: #5aca00;
  padding-top: 10px;
  color: white;
  height: 2.8125em;
  line-height: 2.8125em;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#login .login-form .login-form-header .headline {
  padding-left: 12px;
}
#login .login-form .login-form-input {
  height: 60%;
  width: 100%;
}
#login .login-form .login-form-input .input-group {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
#login .login-form .login-form-input .input-group:after {
  content: "";
  display: table;
  clear: both;
}
#login .login-form .login-form-input .input-group label {
  margin-left: 17.0596085997%;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  text-align: right;
  color: white;
}
#login .login-form .login-form-input .input-group label:last-child {
  margin-right: 0;
}
#login .login-form .login-form-input .input-group input {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
}
#login .login-form .login-form-input .input-group input:last-child {
  margin-right: 0;
}
#login .login-form .login-form-submit {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}
#login .login-form .login-form-submit button {
  background-color: white;
  color: #434343;
}
#login .login-form .login-form-warning {
  position: absolute;
  bottom: -45px;
}

#dash {
  height: 100%;
  background-color: #e6e6e6;
}
#dash .dash-nav {
  height: 100%;
  width: 17%;
  float: left;
  background-color: #434343;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  color: white;
}
#dash .dash-nav .dash-nav-head .headline {
  position: relative;
  background-color: #50b200;
}
#dash .dash-nav .dash-nav-worker {
  position: relative;
  top: -10px;
  background-color: #5aca00;
}
#dash .dash-nav .dash-nav-worker h5 {
  padding-top: 30px;
  font-weight: lighter;
}
#dash .dash-nav .dash-nav-worker .worker-circle .worker-circle-percentage {
  margin-top: -230px;
  font-size: 3.125em;
}
#dash .dash-nav .dash-nav-worker .worker-overall-progress #overall-progress {
  padding-left: 10%;
  padding-bottom: 25px;
  text-align: left;
  font-size: 0.875em;
}
#dash .dash-nav .dash-nav-worker .worker-overall-progress #overall-progress span {
  font-weight: bold;
}
#dash .dash-nav .dash-nav-items {
  position: relative;
  top: 20px;
  text-align: left;
  font-size: 1.25em;
  width: 100%;
}
#dash .dash-nav .dash-nav-items ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
#dash .dash-nav .dash-nav-items ul li a {
  padding: 20px 0 20px 20px;
  display: block;
  text-decoration: none;
  color: white;
}
#dash .dash-nav .dash-nav-items ul li a i {
  padding-right: 10px;
  font-size: 0.875em;
}
#dash .dash-nav .dash-nav-items ul li:hover {
  background-color: #5aca00;
  -webkit-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
}
#dash .dash-nav .dash-nav-items ul li.active {
  border-left: 5px solid #5aca00;
}
#dash .dash-content {
  height: 100%;
  width: 83%;
  float: right;
  background-color: #e6e6e6;
}
#dash .dash-content .dash-content-head {
  border-bottom: 1px solid #cdcdcd;
  cursor: default;
}
#dash .dash-content .dash-content-head .headline {
  padding-left: 20px;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
}
#dash .dash-content .dash-content-head .headline:last-child {
  margin-right: 0;
}
#dash .dash-content .dash-content-head .dash-user {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  text-align: right;
}
#dash .dash-content .dash-content-head .dash-user:last-child {
  margin-right: 0;
}
#dash .dash-content .dash-content-head .dash-user div {
  padding-right: 7px;
  padding-left: 7px;
  display: inline-block;
}
#dash .dash-content .dash-content-head .dash-user .user-circle {
  width: 44px;
  position: relative;
  top: 9px;
}
#dash .dash-content .dash-content-head .dash-user .user-circle div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}
#dash .dash-content .dash-content-head .dash-user .user-circle:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #cdcdcd;
  border-radius: 50%;
}
#dash .dash-content .dash-content-head .dash-user .user-action {
  margin-right: 15px;
}
#dash .dash-nav-head, #dash .dash-content-head {
  position: relative;
  height: 3.4375em;
  line-height: 3.4375em;
}
#dash .dash-nav-head .headline, #dash .dash-content-head .headline {
  font-size: 1.25em;
  font-weight: normal;
}

#job .section-box-body {
  width: 100%;
}
#job .section-box-body .upload-help {
  margin-top: 15px;
}
#job .section-box-body .upload-help div {
  display: inline-block;
  font-weight: normal;
  width: 30px;
  line-height: 1.75em;
  text-align: right;
  padding-right: 10px;
}
#job .section-box-body .upload-indicator {
  margin-top: 15px;
}
#job .section-box-body .upload-indicator table thead tr th {
  text-align: left;
}
#job .section-box-body .upload-indicator .progress {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #434343;
}
#job .section-box-body .upload-indicator .progress .progress-bar {
  background-color: #5aca00;
}
#job .section-box-body .upload-controls {
  width: 100%;
  margin-top: 20px;
  text-align: right;
}
#job .section-box-body .upload-controls .button {
  background-color: #5aca00;
  margin-right: 10px;
}

#queue-list table thead tr th {
  text-align: left;
}
