/**
 * Input buttons
 */
.input-text {
    height: em(38);
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: 0 0;
    border-bottom: 2px solid $glf-white;
    color: $glf-white;
    outline: none;
    font-size: em(20);
    font-weight: normal;
}

.input-group {
    margin-bottom: 10px;
}

label {
    height: em(50);
    line-height: em(50);
}

.button {
    position: relative;
    padding: 8px 30px;
    border: 0;
    margin: 10px 1px;
    cursor: pointer;
    text-decoration: none;
    color: $glf-white;
    outline: 0!important;
    box-shadow: 0;
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

    @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
}

.button-green {
    background-color: $glf-green !important;
}

.button-greener {
    background-color: $glf-greener !important;
}

.button-red {
    background-color: $glf-red !important;
}

.button-neutral {
    background-color: $glf-blue !important;
}


/**
 * Centering
 */
.center-parent {
    display: table;
}

.center-child {
    display: table-cell;
    vertical-align: middle;
}

/**
 * Warning/Info
 */
.toast {
    @include position(fixed, null null 30px null);
    @include size(100% 45px);

    color: $glf-white;
    text-align: center;

    .error-msg {
        background-color: $glf-red;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 15px 25px 15px 25px;

        span {
            font-weight: bold;
        }
    }
}

/**
 * Section boxes
 */
.section-box {
    background-color: $glf-white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 15px;
    position: relative;

    .section-box-head {
        height: em(40);
        line-height: em(40);
        border-bottom: 1px solid $glf-grey;
    }

    .section-box-footer {
        width: 98%;
        position: absolute;
        bottom: 0px;
        height: em(65);
        border-top: 1px solid $glf-grey;
        text-align: right;
    }
}

/**
 * Progressbars
 */
// overwrite bootstrap defauls
.progress {
    margin-bottom: 0;
    border-radius: 0;
    background-color: $glf-dark;

    .progress-bar {
        background-color: $glf-green;
    }
}

/**
 * Icons
 */
.fa.fa-check, .fa.fa-arrow-circle-o-up, .fa.fa-download {
    color: $glf-green;
}
.fa.fa-minus, .fa.fa-clock-o {
    color: $glf-border;
}
.fa.fa-circle-o-notch, .fa.fa-circle {
    color: $glf-blue;
}
.fa.fa-arrow-circle-o-down, .fa.fa-exclamation-triangle {
    color: $glf-red;
}

.glyphicon.glyphicon-remove-circle {
    color: $glf-red;
}

/**
 * Text
 */
.center-text {
    text-align: center;
}

/**
 * Sweet alert
 */
.sweet-alert {
    border-radius: 0 !important;

    button.confirm {
        background-color: $glf-greener !important;
        border-radius: 0;

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23) !important;

            @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
        }
    }

    button.cancel {
        background-color: $glf-blue !important;
        border-radius: 0;

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23) !important;

            @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
        }
    }
}