/**
 * Colors
 */
$glf-green: #5ACA00;
$glf-greener: #50B200;
$glf-red: #DD0039;
$glf-blue: #149ECC;
$glf-white: #FFFFFF;
$glf-grey: #E6E6E6;
$glf-dark: #434343;
$glf-border: #cdcdcd;


/**
 * Fonts
 */
$font-primary: 'Lato', sans-serif;

/**
 * Global settings
 */
html, body {
	width: 100%;
	height: 100%;

	font-family: $font-primary;
	font-weight: 300;
}

.main-container {
	height: 100%;
	width: 100%;
}

.nested-container {
    padding: 30px;
    height: 100%;
}

.outer-container{
   @include outer-container;
}