/*!
* Simon Schuster <simon.schuster@hs-furtwangen.de>
* glftv-video-processor-web v0.9.6 (https://github.com/deshi-basara/glftv-video-processor-web)
*/
@import "../../bower_components/bourbon/dist/bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";

/**
 * Partial imports
 */
@import "partials/globals";
@import "partials/components";
@import "partials/animation";
@import "partials/loader";
@import "partials/formly";
@import "partials/modal";

/**
 * View imports
 */
@import "views/login";
@import "views/register";
@import "views/dash";
@import "views/job";
@import "views/queue";
@import "views/profiles";
@import "views/settings";