<scetion class="profile-header row">
	<div class="col-md-12">
		<h1><%= user.fullName() %></h1>
		<img src="" alt"<%= user.fullName() %>" class="img-rounded image">
		<h2 class="bio">
			Designer - Developer - Founder
		</h2>
	</div>
</scetion>
<ol class="projects">
	<li>
		<div class="box">
			<img src="https://d13yacurqjgara.cloudfront.net/users/214033/screenshots/1687568/phone_suite4_teaser.png" />
			<h5>Iphone Teaser</h5>
			<div class="comment">a shot for  ios device manager. still wip.</div>
			<div class="timestamp">17 August, 2014</div>
		</div>
		<div class="artist"><a href="#">Sebastian Otto</a></div>
	</li>

	<li>
		<div class="box">
			<img src="https://d13yacurqjgara.cloudfront.net/users/214033/screenshots/1687568/phone_suite4_teaser.png" />
			<h5>Iphone Teaser</h5>
			<div class="comment">a shot for  ios device manager. still wip.</div>
			<div class="timestamp">17 August, 2014</div>
		</div>
		<div class="artist"><a href="#">Sebastian Otto</a></div>
	</li>

	<li>
		<div class="box">
			<img src="https://d13yacurqjgara.cloudfront.net/users/214033/screenshots/1687568/phone_suite4_teaser.png" />
			<h5>Iphone Teaser</h5>
			<div class="comment">a shot for  ios device manager. still wip.</div>
			<div class="timestamp">17 August, 2014</div>
		</div>
		<div class="artist"><a href="#">Sebastian Otto</a></div>
	</li>

</ol>
