<h2>Anmelden</h2>
<% if(locals.error){ %>
<div class="alert alert-warning"><b>Fehler:</b> <%= locals.error %></div>
<% } %>
<form role="form" action="/user/register" method="post">
  <div class="form-group">
    <label for="i-email">Deine Hochschule Email Adresse</label>
    <input type="email" class="form-control" name="email" id="i-email" placeholder="vorname.nachname@hs-furtwangen.de" required>
  </div>
  <div class="form-group">
    <label for="i-password">Passwort</label>
    <input type="password" class="form-control" id="i-password" name="password" placeholder="Passwort">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" required> Ich bin mit den AGB und den Datenschutz Bestimmungen einverstanden.
    </label>
  </div>
  <button type="submit" class="btn btn-default">Anmelden</button>
</form>