#dash {
    height: 100%;
    background-color: $glf-grey;

    .dash-nav {
        @include size(17% 100%);
        float: left;

        background-color: $glf-dark;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
        text-align: center;
        color: $glf-white;

        .dash-nav-head .headline {
            position: relative;
            background-color: $glf-greener;
        }

        .dash-nav-worker {
            position: relative;
            top: -10px;

            background-color: $glf-green;

            h5 {
                padding-top: 30px;
                font-weight: lighter;
            }

            .worker-circle {
                margin-top: -70px;

                .worker-circle-percentage {
                    position: relative;
                    display: block;
                    top: 140px;
                    font-size: em(55);
                    font-weight: bold;

                    span {
                        display: block;
                        margin-top: -15px;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }

            .worker-overall-progress {
                margin-top: 10px;

                #overall-progressbar {
                    margin-left: 10%;
                    height: 8px;
                    width: 80%;
                    background-color: $glf-greener;
                }

                #overall-progress {
                    padding-left: 10%;
                    padding-bottom: 25px;
                    text-align: left;
                    font-size: em(14);

                    span {
                        font-weight: bold;
                    }
                }
            }
        }

        .dash-nav-items {
            position: relative;
            top: 20px;
            text-align: left;
            font-size: em(20);
            width: 100%;

            ul {
                width: 100%;
                list-style: none;
                padding-left:0;

                li {

                    border-left: 5px solid $glf-dark;

                    a {
                        padding: 20px 0 20px 20px;
                        display: block;
                        text-decoration: none;
                        color: $glf-white;

                        i {
                            padding-right: 10px;
                            font-size: em(14);
                        }
                    }
                }

                li:hover {
                    background-color: $glf-green;
                    border-left: 5px solid $glf-green;

                    @include transition(all 0.7s ease-in-out);
                }

                li.active {
                    border-left: 5px solid $glf-green;
                }
            }
        }
    }

    .dash-content {
        @include size(83% 100%);
        float: right;

        background-color: $glf-grey;

        .dash-content-head {
            border-bottom: 1px solid $glf-border;
            cursor: default;

            .headline {
                padding-left: 20px;

                @include span-columns(8 of 12);
            }

            .dash-user {
                @include span-columns(4 of 12);

                text-align: right;

                div {
                    padding-right: 7px;
                    padding-left: 7px;
                    display: inline-block;
                }

                .user-circle {
                    @include size(44px null);
                    @include position(relative, 9px null null null);

                    div {
                        float: left;
                        width: 100%;
                        padding-top: 50%;
                        line-height: 1em;
                        margin-top: -0.5em;
                        text-align: center;
                        color: $glf-white;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 0;
                        padding-bottom: 100%;
                        background: $glf-border;
                        border-radius: 50%;
                    }
                }

                .user-action {
                    margin-right: 15px;
                }

            }
        }
    }

    .dash-nav-head, .dash-content-head {
        position: relative;
        height: em(55);
        line-height: em(55);

        .headline {
            font-size: em(20);
            font-weight: normal;
        }
    }

}