#profiles {
    .profiles-all {

        table thead tr th {
            text-align: left;
        }

        .fa-activated {
            padding-left: 32px;
        }
    }
}

#job-profile {

    .section-left {
        padding-top: 20px;

        label {
            text-align: right;
            line-height: em(40);
        }
        .form-control {
            border-radius: 0;
            padding: 0;
        }

        .form-group {
            @include span-columns(5 of 12);

            label {
                text-align: right;
                @include span-columns(3 of 6);
            }

            input, select {
                @include span-columns(2 of 6);
            }

            select {
                margin-left: 10px;
            }
        }
    }
}

