#queue-box {

    .glyphicon-remove-circle {
        cursor: pointer !important;

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

            @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
        }
    }

    table {
        tbody tr td {
            cursor: normal !important;
        }
    }
}

#queue-list {
    table {
        thead tr th {
            text-align: left;
        }
    }
}