#settings {
    margin-top: 15px;
    min-height: 700px;

    .section-box-head {

        span {
            color: $glf-green;
        }
    }

    .section-box-body {

        .section-left {
            @include span-columns(8 of 12);
            margin-top: 10px;

            textarea {
                height: 600px;
            }
        }
        .section-right {
            @include span-columns(4 of 12);
            margin-top: 10px;
            height: auto;
            border-left: 1px solid $glf-grey;

            .section-profiles {
                .profile-item {
                    cursor: pointer;
                    height: em(40);
                    line-height: em(40);
                    margin-left: 10px;
                    border-bottom: 1px solid $glf-grey;

                    z-index: 1;

                    span {
                        padding-left: 15px;
                    }

                    i {
                        padding: 9px 10px 9px 10px;
                        float: right;

                        z-index: 2;

                        &:hover {
                            box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

                            @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
                        }
                    }

                    input {
                        float: right;
                        margin: 10px;
                    }
                }

                .profile-item:hover, .profile-item.active {
                    background-color: $glf-green;
                    color: $glf-white;

                    @include transition(all 0.7s ease-in-out);
                }
            }

            .control-check {
                float: right;
                line-height: em(65);
                padding-right: 20px;
            }

            button {
                float: right;
            }
        }

    }

    .section-box-footer {
        text-align: left;
        line-height: em(60);
    }


    /*.section-box-body {
        .output-name  {
            @include span-columns(7 of 12);
        }
        .output-format {
            @include span-columns(5 of 12);
            @include omega();
        }
    }*/


    input {
        margin-left: 10px;
        color: $glf-dark;
        border-bottom: 2px solid $glf-border;
    }
}