<section id="job" class="section-box">
    <div class="section-box-head">
        <h4>Warteschlange</h4>
    </div>
    <div class="section-box-body">
        <div class="upload-indicator">
            <table ng-table="ctrl.tableParams" show-filter="false" class="table table-hover">
                <tbody>
                <tr ng-repeat="job in $data">
                    <td data-title="'ID'" class="col-xs-0">
                        {{:: job.id }}
                    </td>
                    <td data-title="'Priorität'" class="col-xs-0 center-text">
                        <i class="fa fa-arrow-circle-o-up" ng-show="job.priority === 'high'"></i>
                        <i class="fa fa-circle" ng-show="job.priority === 'medium'"></i>
                        <i class="fa fa-arrow-circle-o-down" ng-show="job.priority === 'low'"></i>
                    </td>
                    <td data-title="'Name'" class="col-xs-3">
                        {{:: job.name }}
                    </td>
                    <td data-title="'Profil'" class="col-xs-1">
                        {{:: job.profil }}
                    </td>
                    <td data-title="'Erstellt'" class="col-xs-1">
                        {{:: job.createdAt | date: 'dd.MM.yy, HH:mm' }}
                    </td>
                    <td data-title="'2-Pass'" class="col-xs-0 center-text">
                        <i class="fa fa-check" ng-show="job.twoPass === true"></i>
                        <i class="fa fa-minus" ng-hide="job.twoPass === true"></i>
                    </td>
                    <td data-title="'Gestarted'" class="col-xs-1">
                        {{:: !job.startedAt ? '' : (job.startedAt | date: 'dd.MM.yy, HH:mm') }}
                    </td>
                    <td data-title="'Fortschritt'" class="col-xs-2">
                        <!--<ags-progress progress="{{ file.progress }}" status="{{ file.status }}"></ags-progress>-->
                        <progressbar max="100" value="job.progress">{{ job.progress }}%</progressbar>
                    </td>
                    <td data-title="'Benutzer'" class="col-xs-2">
                        {{ job.createdBy }}
                    </td>
                    <td data-title="'Status'" class="col-xs-0 center-text">
                        <i class="fa fa-clock-o" ng-show="job.status === 'queued'"></i>
                        <i class="fa fa-circle-o-notch fa-spin" ng-show="job.status === 'started'"></i>
                        <i class="fa fa-download" ng-show="job.status === 'finished'"></i>
                        <i class="fa fa-exclamation-triangle" ng-show="job.status === 'error'"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-box-footer">
        <div class="upload-controls">
            <button class="button button-red" ng-click="ctrl.removeAllFailed()">Abgebrochene Videos entfernen</button>
            <button class="button" ng-click="ctrl.removeAllFinished()">Fertige Videos entfernen</button>
        </div>
    </div>
</section>